<div class="medium-6 large-6 columns padded-column">

  <div class="post">
    <div class="post-content">
      <div class="small-12 title">
        <strong><%= haiku.title %></strong>
        <em class="date-created"><%= haiku.created_at.strftime("%h %e")  %></em>
      </div>
      <div class="body">
        <% haiku.text.split("\n").each do |line| %>
          <div>
          <%= line %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

</div>
