<h1>Proser</h1>
<div class="">
  <%= link_to "New Haiku", new_haiku_path  %>
</div>

<div class="row haikus">
  <% @haikus.each do |haiku| %>
    <%= render 'haiku', haiku: haiku %>
<% end %>

</div>
