<div id="posts">
  
<div class="page row haikus">
  <%= render @posts  %>
<%#   <% @haikus.each do |haiku| %>
<%#     <%= render 'haiku', haiku: haiku %>
<%# <% end %>
</div>

</div>

<%= paginate @posts  %>
