<h1>New Haiku</h1>

<div class="syllable-count">
<span id="first-line" class="count">0</span>
<span id="second-line" class="count">0</span>
<span id="third-line" class="count">0</span>
<span id="error-display">
  
</span>
</div>

<%= form_tag '/words' do  %>
  <%= text_area_tag "Haiku Body", nil, rows: 3 %>
<% end %>
