<h1>New Haiku</h1>
<div class="haiku-container small-12 medium-8 large-6 small-centered columns text-center">
<div id="error-display">
  ERROR
</div>
<div class="syllable-count">
<span id="first-line" class="count">0</span>
<span id="second-line" class="count">0</span>
<span id="third-line" class="count">0</span>
  
</div>

<%= form_for @haiku do |f| %>
  <%= f.text_area :text, rows: 3, id: "Haiku_Body" %>
  <%= submit_tag "Submit Haiku", disabled: true, class: "button", id: "haiku-submit" %>
<% end %>

</div>
