<div class="small-12 medium-8 large-5 small-centered text-center columns">
<span class="button tiny reset-de-plume">
  Jiggle your pen
</span>
<%= f.text_field :nom_de_plume, autofocus: true, readonly: true %></div>
