<div class="show-comment">
  <div class="comment-user">
    <%= link_to  comment.author.upcase, comment.post.user  %>
    <span class="comment-time"> — <%= time_ago_in_words(comment.created_at) + " ago"  %></span>
  </div>
  <% if comment.quote.present? %>
  <blockquote class="comment-quote">
    <%= comment.quote  %>
  </blockquote >
  <% end %>
  <p class="comment-body">
    "<%= comment.body  %>"
  </p>
</div>
