<div class="new-container small-12 medium-10 large-8 small-centered columns">
  <div class="new-post-body">
    <div class="show-post-title">
      <%= @post.title  %>
    </div>
    <div class="new-post-text">
      <%= @post.body  %>
    </div>

  </div>
</div>
