// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {
.haiku {
  .post-title {
    position: relative;
    color: darkred
  }
  .post-title:before {
    // content: " // PROMP";
    font-size: .8em;
    color: darkred;
  }
  .body{
    color: darkred;
    text-align: center;
  }
  &:hover {
    color: darkred;
}
  .user-email {
    color: darkred;
    &:hover {
      color: red;
    }
  }

  background: rgb(255,197,197); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,197,197,1) 0%, rgba(255,183,183,1) 0%, rgba(255,163,163,1) 0%, rgba(255,253,253,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,197,1)), color-stop(0%,rgba(255,183,183,1)), color-stop(0%,rgba(255,163,163,1)), color-stop(100%,rgba(255,253,253,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,197,197,1) 0%,rgba(255,183,183,1) 0%,rgba(255,163,163,1) 0%,rgba(255,253,253,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,197,197,1) 0%,rgba(255,183,183,1) 0%,rgba(255,163,163,1) 0%,rgba(255,253,253,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,197,197,1) 0%,rgba(255,183,183,1) 0%,rgba(255,163,163,1) 0%,rgba(255,253,253,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,197,197,1) 0%,rgba(255,183,183,1) 0%,rgba(255,163,163,1) 0%,rgba(255,253,253,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc5c5', endColorstr='#fffdfd',GradientType=0 ); /* IE6-9 */
}}

body {
  text-align: center;
  transition: all .5s;
}

.syllable-count{

}

#Haiku_Body {
  resize: none;
}

input:disabled {
  opacity: .5;
}

.count {
  transition: all .5s;
}

.ideal {
  transition: all .5s;
  color: green;
  font-size: 2em;
}


.haikus {
  opacity: 0;
}


.padded-column {
  -webkit-perspective: 2050px; /* Chrome, Safari, Opera */
  perspective: 2050px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  backface-visibility:     hidden;  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.post {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: translate3d(0,0,0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  .user-email {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s;
    position: absolute;
    right: 10px;
    color: grey;
    &:hover {
      text-decoration: underline;
    }
  }
  .date-created {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  backface-visibility:     hidden;  
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s;
  -webkit-transform: rotateX(-20deg); /* Chrome, Safari, Opera */
  transform: rotateX(-20deg);
  opacity: 0;
  .title {
    opacity: 1;
    .post-title {
      display: inline-block;
      width: 55%;
      height: 2em;
    }
  }
  .body {
    transition: all .5s;
    opacity: .8;
  }
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(0%,rgba(219,219,219,1)), color-stop(0%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 0%,rgba(209,209,209,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 0%,rgba(209,209,209,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 0%,rgba(209,209,209,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 0%,rgba(209,209,209,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  padding: 10px 0 0px 0;
  &:hover {
    .user-email {
      color: black;
    }
    .body {
    opacity: 1;
    }
    opacity: 1;
    -webkit-transform: translateY(-20px); /* Chrome, Safari, Opera */
    transform: translateY(-20px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
  }
  .title {
  }
  margin-top: 10px;
}

h3 {
  font-family: "Fjalla One";
  color: lightgrey;
}

.draft {
  background: rgb(243,242,199); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(243,242,199,1) 0%, rgba(241,240,189,1) 0%, rgba(237,236,173,1) 0%, rgba(253,253,245,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,242,199,1)), color-stop(0%,rgba(241,240,189,1)), color-stop(0%,rgba(237,236,173,1)), color-stop(100%,rgba(253,253,245,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(243,242,199,1) 0%,rgba(241,240,189,1) 0%,rgba(237,236,173,1) 0%,rgba(253,253,245,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(243,242,199,1) 0%,rgba(241,240,189,1) 0%,rgba(237,236,173,1) 0%,rgba(253,253,245,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(243,242,199,1) 0%,rgba(241,240,189,1) 0%,rgba(237,236,173,1) 0%,rgba(253,253,245,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(243,242,199,1) 0%,rgba(241,240,189,1) 0%,rgba(237,236,173,1) 0%,rgba(253,253,245,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f2c7', endColorstr='#fdfdf5',GradientType=0 ); /* IE6-9 */
}


#error-display {
  opacity: 0;
  color: red;
}


