// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-author {
  margin: 0 auto;
  width: 30%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s;
  color: grey;
  display: block;
  position: relative;
  top: 12px;
  margin-bottom: -20px;
  text-align: center;
  font-family: "Fjalla One";
  &:hover {
    color: black;
  }
}

.post-title {
  text-decoration: none;
  color: black;
}

  .show-post-title {
    transition: color .5s;
    font-size: 3em;
    font-weight: bold;
    height: 80px;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: none;
    text-align: center;
    resize: none;
    outline-color: transparent;
    outline-style: none;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

.story {
  .body {
    text-align: left;
  }
}

.body {
  height: 5em;
  margin: 0 40px;
}


.white-popup {
  text-align: center;
  position: relative;
  max-height: 500px; 
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  overflow: -webkit-scrollbars-none;
}


/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);

  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
