// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-author {
  margin: 0 auto;
  width: 30%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s;
  color: grey;
  display: block;
  position: relative;
  top: 12px;
  margin-bottom: -20px;
  text-align: center;
  font-family: "Fjalla One";
  &:hover {
    color: black;
  }
}

.post-title {
  text-decoration: none;
  color: black;
}

  .show-post-title {
    transition: color .5s;
    font-size: 3em;
    font-weight: bold;
    height: 80px;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: none;
    text-align: center;
    resize: none;
    outline-color: transparent;
    outline-style: none;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

.story {
  .body {
    text-align: left;
  }
}

.body {
  height: 5em;
  margin: 0 40px;
}
