// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
}

.syllable-count{

}

.count {
  transition: all .5s;
}

.ideal {
  transition: all .5s;
  color: green;
  font-size: 2em;
}

#error-display {
  display: none;
}


