.tool-bar {
  margin: 40px 0 40px 0;

  }

@import url(http://fonts.googleapis.com/css?family=Anton|Fredoka+One|Oswald|Fjalla+One|Righteous);

.main-header {
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  float: left;
  left: 18px;
  color: lightgrey;
  transition: all .4s;
  &:hover {
    cursor: pointer;
    color: darkgrey;
  }
}


.tool-bar-button {
  text-align: center;
  margin: 0 10px;
  color: black;
  transition: all .2s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  background-color: rgb(222,222,222);
  padding: 22px 7px 22px 7px;
  &:hover {
    cursor: pointer;
    background-color: rgb(232,232,232) ;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.top-stick {
  background: white;
  margin-bottom: 15px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.sub-nav {
  display: table;
  margin: 0 auto;
  position: relative;
  right: 12px;
}

.sub-nav dd{
  display: table-cell;
  text-align: center;
}
