@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,800);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);


.new-container {
  -webkit-perspective: 2050px; /* Chrome, Safari, Opera */
  perspective: 2050px;
}


.new-post-body {
  -webkit-transform: rotateX(-20deg); /* Chrome, Safari, Opera */
  transform: rotateX(-20deg);
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  height: 400px;

  opacity: 0;

  .new-post-title {
    transition: color .5s;
    color: grey;
    &:focus {
      color: black;
    }
    font-size: 3em;
    font-weight: bold;
    height: 80px;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: none;
    text-align: center;
    resize: none;
    outline-color: transparent;
    outline-style: none;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .invis {
    opacity: 0;
  }

  .new-post-text {
    padding: 0 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 2em;
    height: 100%;
    background: transparent;
    border: none;
    text-align: left;
      resize: none;
      outline-color: transparent;
      outline-style: none;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

  }


  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 60%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(0%,rgba(219,219,219,1)), color-stop(0%,rgba(209,209,209,1)), color-stop(60%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 0%,rgba(209,209,209,1) 0%,rgba(254,254,254,1) 60%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 0%,rgba(209,209,209,1) 0%,rgba(254,254,254,1) 60%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 0%,rgba(209,209,209,1) 0%,rgba(254,254,254,1) 60%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 0%,rgba(209,209,209,1) 0%,rgba(254,254,254,1) 60%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
