<div class="row">

  <div class="tool-bar small-12 columns">
    <%= link_to new_post_path do %>
      <span class="tool-bar-button">
        New
      </span>
    <% end %>
  </div>

  <% if current_user && current_user.admin? %>
    <div class="">
      <%= link_to "Prompt", new_prompt_path %>
    </div>
  <% end %>

</div>
