<div class="row">

<%= link_to new_haiku_path do %>
<div class="tool-bar small-12 columns">
    <span id="new-post-button">
    New
    </span>
</div>
<% end %>

<div class="small-12">
  <hr />
</div>

</div>
